{
  "semi": true,
  "useTabs": true,
  "tabWidth": 4,
  "bracketSpacing": true,
  "arrowParens": "always",
  "singleQuote": false,

  "overrides": [
    {
      "files": ["*.yml"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
